{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div style="text-align: center;">
    <h1 style="font-size: 102px; margin-top: 20px;">Welcome to Unlock EA</h1>
    <h6 style="text-decoration: underline; margin-bottom: 20px;">You are about to fully unlock your trading potential</h6>
    {% for video in videos %}
    
    <div style="max-width: 80%; margin: 0 auto;">
      <div style="position: relative; padding-bottom: 56.25%;">
        <div class="card" onclick="openModal('{{ video.file.url }}')">
          <video width="100%" controls>
            <source src="{{ video.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <h2>{{ video.title }}</h2>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

